<div class="box-subscription" id="subscription">
    <div class="wrapper">
        <div class="subscription-title">Подпишитесь на обновления в соцсетях</div>
        <p>Каждую неделю мы рассказываем о главных кинопремьерах, выставках, спектаклях и концертах. <span class="hide-880">Коротко и по делу.</span></p>
        <ul class="subscription-social">
            <li class="subscription-social__item"><a href="https://vk.com/ktochtogde" target="_blank"  rel="nofollow" class="subscription-social__link"><i class="icon-vk-social-network-logo"></i></a></li>
        </ul>
    </div>
</div>

<!-- BEGIN FOOTER -->

<footer>
    <div class="footer-nav">
        <div class="wrapper">

            <div class="footer-col footer-col_1">


                <ul class="footer-nav-list">

                    <li class="footer-nav-list__item"><a href="/all/"  class="footer-nav-list__link">ЖУРНАЛ</a></li>
                    <li class="footer-nav-list__item"><a href="/holidays/"  class="footer-nav-list__link">ПРАЗДНИКИ</a></li>
                    <li class="footer-nav-list__item"><a href="/pozdravleniya/"  class="footer-nav-list__link">ПОЗДРАВЛЕНИЯ</a></li>
                    <li class="footer-nav-list__item"><a href="/names/"  class="footer-nav-list__link">ИМЕНА</a></li>
                    <li class="footer-nav-list__item"><a href="http://1marketplace.ru/" rel="nofollow" class="footer-nav-list__link">MARKETPLACE</a></li>

                </ul>

            </div>

            <div class="footer-col">

                <div class="footer-search">
                    <form action="/">
                        <div class="subscription-form__field">
                            <input type="text" name="s" placeholder="Искать на сайте" class="form-control" required>
                            <button class="button-subscription" type="submit"><i class="icon-search-2"></i></button>
                            <input type="submit" style="display:none" />
                        </div>
                    </form>
                </div>

            </div>

        </div>
    </div>
    <div class="wrapper">
        <ul class="footer-soc">
            <li class="footer-soc__item"><a href="#" class="footer-soc__link"><i class="icon-vk-social-network-logo"></i></a></li>
            <li class="footer-soc__item"><a href="#" class="footer-soc__link"><i class="icon-facebook"></i></a></li>
        </ul>
        <div class="footer-cont">


            <ul class="footer-list">

                <li class="footer-list__item column"><a href="https://kto-chto-gde.ru/category/society/" class="footer-list__link header"><span  class="strong-like">ОБЩЕСТВО</span></a>

                    <ul>

                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/society/horoscope/" class="footer-list__link">Гороскоп</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/society/love/" class="footer-list__link">Дружба и любовь</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/society/mind/" class="footer-list__link">Духовное развитие</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/society/law/" class="footer-list__link">Законодательство</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/society/education/" class="footer-list__link">Образование</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/society/psychology/" class="footer-list__link">Психология</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/society/family/" class="footer-list__link">Семья и дети</a></li>



                    </ul>
                </li>

                <li class="footer-list__item column"><a href="https://kto-chto-gde.ru/category/money/" class="footer-list__link header"><span  class="strong-like">ДЕНЬГИ</span></a>

                    <ul>

                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/money/business/" class="footer-list__link">Бизнес и работа</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/money/realty/" class="footer-list__link">Недвижимость</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/money/purchases/" class="footer-list__link">Покупки</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/money/transport/" class="footer-list__link">Транспорт</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/money/finance/" class="footer-list__link">Финансы</a></li>



                    </ul>
                </li>

                <li class="footer-list__item column"><a href="https://kto-chto-gde.ru/category/lifestyle/" class="footer-list__link header"><span  class="strong-like">СТИЛЬ ЖИЗНИ</span></a>

                    <ul>

                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/lifestyle/home/" class="footer-list__link">Дом и дача</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/lifestyle/food/" class="footer-list__link">Еда</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/lifestyle/animals/" class="footer-list__link">Животные и природа</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/lifestyle/lifehack/" class="footer-list__link">Лайфхаки</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/lifestyle/travel/" class="footer-list__link">Путешествия</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/lifestyle/humor/" class="footer-list__link">Развлечения</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/lifestyle/sport/" class="footer-list__link">Спорт</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/lifestyle/creativity/" class="footer-list__link">Хобби</a></li>



                    </ul>
                </li>

                <li class="footer-list__item column"><a href="https://kto-chto-gde.ru/category/culture/" class="footer-list__link header"><span  class="strong-like">КУЛЬТУРА</span></a>

                    <ul>

                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/culture/art/" class="footer-list__link">Искусство</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/culture/movie/" class="footer-list__link">Кино и сериалы</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/culture/books/" class="footer-list__link">Книги</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/culture/music/" class="footer-list__link">Музыка</a></li>



                    </ul>
                </li>

                <li class="footer-list__item column"><a href="https://kto-chto-gde.ru/category/beauty/" class="footer-list__link header"><span  class="strong-like">КРАСОТА</span></a>

                    <ul>

                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/beauty/health/" class="footer-list__link">Здоровье</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/beauty/makeup/" class="footer-list__link">Макияж</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/beauty/fashion/" class="footer-list__link">Показы</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/beauty/weight/" class="footer-list__link">Похудение</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/beauty/style/" class="footer-list__link">Стиль</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/beauty/care/" class="footer-list__link">Уход</a></li>



                    </ul>
                </li>

                <li class="footer-list__item column"><a href="https://kto-chto-gde.ru/category/digital/" class="footer-list__link header"><span  class="strong-like">Digital</span></a>

                    <ul>

                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/digital/gadgets/" class="footer-list__link">Гаджеты</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/digital/games/" class="footer-list__link">Игры</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/digital/web/" class="footer-list__link">Интернет</a></li>


                        <li class="footer-list__item subitem"><a href="https://kto-chto-gde.ru/category/digital/technologies/" class="footer-list__link">Технологии</a></li>


                        <li class="footer-list__item last"><a href="/category/tests/" class="footer-list__link header"><strong>ТЕСТЫ</strong></a></li>

                    </ul>
                </li>



            </ul>

        </div>
        <div class="footer-bottom">
            <div class="copy">© 2022 &nbsp;  КТО?ЧТО?ГДЕ?  <span></span> Все права защищены законом </div>
            <div class="footer-links">
                <a href="/mediakit/">Медиакит</a><a href="/contacts/">Контакты</a><a href="/agreement/">Соглашение</a>
            </div>
            <a href="http://nota.media" rel="nofollow" class="footer-logo" target=_blank>Дизайн сайта Notamedia 2017 <img src="https://kto-chto-gde.ru/img/footer_logo.svg?ver1.0" alt=""></a>
        </div>
    </div>
</footer>




<div class="cookie-policy">
    <p>
        Мы используем файлы cookie для того, чтобы предоставить Вам больше возможностей при использовании сайта.<br />
        Продолжая просмотр страниц сайта, вы даете свое согласие на использование cookies. <a href="/agreement/">Пользовательское соглашение</a>
    </p>
    <button>Согласен</button>
</div>


<!-- FOOTER EOF   -->